<footer class="bg-dark">
            <hr>
            <div class="row">
                <div class="col">
                    <p class="text-info">2025 My Blog. &nbsp;All Rights reserved</p>
                </div>
                <div class="col-12 col-md-6 d-flex justify-content-start justify-content-md-end">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="text-white text-decoration-none" href="#">Terms of services</a></li>
                        <li class="list-inline-item"><a class="text-white text-decoration-none" href="#">Privacy policy</a></li>
                        <li class="list-inline-item"><a class="text-white text-decoration-none" href="#">Sitemap</a></li>
                    </ul>
                </div>
            </div>
    </footer>